#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f4f3f0;
}

.formulario {
  background-color: rgb(80, 85, 128);
  border-radius: 10px;
}

.formulario h2 {
  color: #FFF;
}